@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

button {
  font-family: var(--font-roboto);
}

.prose {
  font-family: "Inter", sans-serif;
  line-height: 1.5em;
}

.prose strong {
  font-weight: 600;
}

.prose p {
  /* within paragraph */
  margin-bottom: 1.2rem;
  /* between paragraphs */
}